---
http_interactions:
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/sru?operation=searchRetrieve&recordSchema=dcndl&&maximumRecords=1&&query=%28jpno=%29&onlyBib=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"c3ed6df086c85a7100d49e74b0e3650c"'
      status:
      - '200'
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>search term(s) is requested in 'jpno='</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Wed, 10 Apr 2013 02:43:42 GMT
recorded_with: VCR 2.4.0
