---
http_interactions:
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/sru?maximumRecords=1&onlyBib=true&operation=searchRetrieve&query=(itemno=)&recordSchema=dcndl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"79f8f250e63181b33a2145c0edfd1141"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>search term(s) is requested in 'itemno='</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Fri, 06 Nov 2015 15:56:26 GMT
recorded_with: VCR 3.0.0
