---
http_interactions:
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/sru?operation=searchRetrieve&recordSchema=dcndl&maximumRecords=1&query=%28itemno=%29&onlyBib=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"79f8f250e63181b33a2145c0edfd1141"'
      status:
      - '200'
      content-type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <diagnostics>
            <diagnostic xmlns="http://www.loc.gov/zing/srw/diagnostic/">
              <uri>info:srw/diagnostic/1/1</uri>
              <details>An error occurred</details>
              <message>search term(s) is requested in 'itemno='</message>
            </diagnostic>
          </diagnostics>
        </searchRetrieveResponse>
  recorded_at: Sun, 13 Oct 2013 20:14:13 GMT
recorded_with: VCR 2.6.0
