---
http_interactions:
- request:
    method: get
    uri: http://api.porta.ndl.go.jp:80/servicedp/SRUDp?operation=searchRetrive&maximumRecords=10&recordSchema=dcndl_porta&query=%28jpno=21816393%29
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<searchRetrieveResponse xmlns=\"http://www.loc.gov/zing/srw/\">\n<version>1.2</version>\n<numberOfRecords>1</numberOfRecords>\n<extraResponseData><facets
      xmlns:dcndl_porta=\"http://www.dcndl_porta\"><lst name=\"REPOSITORY_NO\"><dcndl_porta:dpid
      name=\"R000000001\">1</dcndl_porta:dpid></lst><lst name=\"PORTA_TYPE\"><dcndl_porta:PORTAType
      name=\"Text\">1</dcndl_porta:PORTAType></lst><lst name=\"DIGITALIZE_TYPE\"><dcndl_porta:type.Digitalize
      name=\"4\">1</dcndl_porta:type.Digitalize></lst><lst name=\"WEBGET_TYPE\"><dcndl_porta:type.Web-get
      name=\"4\">1</dcndl_porta:type.Web-get></lst><lst name=\"PAYMENT_TYPE\"><dcndl_porta:type.Payment
      name=\"4\">1</dcndl_porta:type.Payment></lst><lst name=\"ISSUED_DATE\"><int
      name=\"2010\">1</int></lst><lst name=\"NDC\"><int name=\"NDC:[000 TO 099]\">1</int></lst></facets></extraResponseData><records>\n<record>\n<recordSchema>http://ndl.go.jp/dcndl/dcndl_porta/</recordSchema>\n<recordPacking>string</recordPacking>\n<recordData>&lt;dcndl_porta:dc
      \ xmlns:dc=&quot;http://purl.org/dc/elements/1.1/&quot;\n xmlns:dcndl_porta=&quot;http://ndl.go.jp/dcndl/dcndl_porta/&quot;\n
      \   xmlns:dcmitype=&quot;http://purl.org/dc/dcmitype/&quot;\n    xmlns:dcterms=&quot;http://purl.org/dc/terms/&quot;\n
      \   xmlns:dcndl=&quot;http://ndl.go.jp/dcndl/terms/&quot;\n    xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;\n
      \   xsi:schemaLocation=&quot;http://ndl.go.jp/dcndl/dcndl_porta/ http://porta.ndl.g[...]
