---
http_interactions:
- request:
    method: get
    uri: http://api.porta.ndl.go.jp/servicedp/SRUDp?operation=searchRetrive&maximumRecords=10&recordSchema=dcndl_porta&query=%28jpno=21816393%29
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<searchRetrieveResponse xmlns=\"http://www.loc.gov/zing/srw/\">\n<version>1.2</version>\n<numberOfRecords>1</numberOfRecords>\n<extraResponseData><facets
      xmlns:dcndl_porta=\"http://www.dcndl_porta\"><lst name=\"REPOSITORY_NO\"><dcndl_porta:dpid
      name=\"R000000001\">1</dcndl_porta:dpid></lst><lst name=\"PORTA_TYPE\"><dcndl_porta:PORTAType
      name=\"Text\">1</dcndl_porta:PORTAType></lst><lst name=\"DIGITALIZE_TYPE\"><dcndl_porta:type.Digitalize
      name=\"4\">1</dcndl_porta:type.Digitalize></lst><lst name=\"WEBGET_TYPE\"><dcndl_porta:type.Web-get
      name=\"4\">1</dcndl_porta:type.Web-get></lst><lst name=\"PAYMENT_TYPE\"><dcndl_porta:type.Payment
      name=\"4\">1</dcndl_porta:type.Payment></lst><lst name=\"ISSUED_DATE\"><int
      name=\"2010\">1</int></lst><lst name=\"NDC\"><int name=\"NDC:[000 TO 099]\">1</int></lst></facets></extraResponseData><records>\n<record>\n<recordSchema>http://ndl.go.jp/dcndl/dcndl_porta/</recordSchema>\n<recordPacking>string</recordPacking>\n<recordData>&lt;dcndl_porta:dc
      \ xmlns:dc=&quot;http://purl.org/dc/elements/1.1/&quot;\n xmlns:dcndl_porta=&quot;http://ndl.go.jp/dcndl/dcndl_porta/&quot;\n
      \   xmlns:dcmitype=&quot;http://purl.org/dc/dcmitype/&quot;\n    xmlns:dcterms=&quot;http://purl.org/dc/terms/&quot;\n
      \   xmlns:dcndl=&quot;http://ndl.go.jp/dcndl/terms/&quot;\n    xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;\n
      \   xsi:schemaLocation=&quot;http://ndl.go.jp/dcndl/dcndl_porta/ http://porta.ndl.g[...]
[...]
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/sru?operation=searchRetrive&maximumRecords=1&&query=%28jpno=21816393%29
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"63925fac63d65be9231290b0a30d7216"'
      status:
      - '200'
      content-type:
      - application/xml; charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<searchRetrieveResponse xmlns=\"http://www.loc.gov/zing/srw/\">\n
      \ <diagnostics>\n    <diagnostic xmlns=\"http://www.loc.gov/zing/srw/diagnostic/\">\n
      \     <uri>info:srw/diagnostic/1/1</uri>\n      <details>An error occurred</details>\n
      \     <message>operation is not searchRetrieve</message>\n    </diagnostic>\n
      \ </diagnostics>\n</searchRetrieveResponse>\n"
  recorded_at: Fri, 13 Jan 2012 16:41:23 GMT
[...]
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/sru?operation=searchRetrieve&maximumRecords=1&&query=%28jpno=21816393%29
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"f19a16a6a3591869a3dd07c9f5cc60d3"'
      status:
      - '200'
      content-type:
      - application/xml; charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<searchRetrieveResponse xmlns=\"http://www.loc.gov/zing/srw/\">\n
      \ <version>1.2</version>\n  <numberOfRecords>1</numberOfRecords>\n  <nextRecordPosition>0</nextRecordPosition>\n
      \ <extraResponseData>\n&lt;facets&gt;\n  &lt;lst name=&quot;REPOSITORY_NO&quot;&gt;\n
      \   &lt;int name=&quot;R100000001&quot;&gt;1&lt;/int&gt;\n    &lt;int name=&quot;R100000002&quot;&gt;1&lt;/int&gt;\n
      \ &lt;/lst&gt;\n  &lt;lst name=&quot;NDC&quot;&gt;\n    &lt;int name=&quot;0&quot;&gt;1&lt;/int&gt;\n
      \ &lt;/lst&gt;\n  &lt;lst name=&quot;ISSUED_DATE&quot;&gt;\n    &lt;int name=&quot;2010&quot;&gt;1&lt;/int&gt;\n
      \ &lt;/lst&gt;\n  &lt;lst name=&quot;LIBRARY&quot;&gt;\n    &lt;int name=&quot;国立国会図書館&quot;&gt;1&lt;/int&gt;\n
      \   &lt;int name=&quot;大阪市立中央図書館&quot;&gt;1&lt;/int&gt;\n    &lt;int name=&quot;大阪府立中央図書館&quot;&gt;1&lt;/int&gt;\n
      \   &lt;int name=&quot;岡山県立図書館&quot;&gt;1&lt;/int&gt;\n    &lt;int name=&quot;高知県立図書館&quot;&gt;1&lt;/int&gt;\n
      \ &lt;/lst&gt;\n&lt;/facets&gt;\n  </extraResponseData>\n  <records>\n    <record>\n
      \     <recordSchema>info:srw/schema/1/dc-v1.1</recordSchema>\n      <recordPacking>string</recordPacking>\n
      \     <recordData>\n&lt;srw_dc:dc xsi:schemaLocation=&quot;info:srw/schema/1/dc-v1.1
      http://www.loc.gov/standards/sru/dc-schema.xsd&quot; xmlns:srw_dc=&quot;info:srw/schema/1/dc-v1.1&quot;
      xmlns:dc=&quot;http://purl.org/dc/elements/1.1/&quot; xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;&gt;\n
      \ &lt;dc:title&gt;プログラミングコンテストチャレンジブック : 問題解決のアルゴリズム活用力とコーディングテクニックを鍛える&lt;/dc:title&gt;\n
      \ &lt;dc:creator&gt;秋葉拓哉, 岩田陽一, 北川宜稔 著,Usu-ya 編&lt;/dc:creator&gt;\n  &lt;dc:subject&gt;プログラミング
      (コンピュータ)&lt;/dc:subject&gt;\n  &lt;dc:publisher&gt;毎日コミュニケーションズ&lt;/dc:publisher&gt;\n
      \ &lt;dc:language&gt;jpn&lt;/dc:language&gt;\n&lt;/srw_dc:dc&gt;\n      </recordData>\n
      \     <recordPosition>1</recordPosition>\n    </record>\n  </records>\n</searchRetrieveResponse>\n"
  recorded_at: Fri, 13 Jan 2012 16:43:22 GMT
[...]
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/sru?operation=searchRetrieve&recordSchema=dcndl&&maximumRecords=1&&query=%28jpno=21816393%29
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"cb03dd856c6fe474c1f3e41eb18ede9f"'
      status:
      - '200'
      content-type:
      - application/xml; charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<searchRetrieveResponse xmlns=\"http://www.loc[...]
[...]
