---
http_interactions:
- request:
    method: get
    uri: http://iss.ndl.go.jp/api/opensearch?dpid=iss-ndl-opac&any=library%20system&cnt=10&idx=1
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - ! '"77866a4ce93cc4a7346dd4d9c2e9c7f5"'
      status:
      - '200'
      content-type:
      - application/xml; charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss xmlns:dcterms=\"http://purl.org/dc/terms/\"
      xmlns:dcndl=\"http://ndl.go.jp/dcndl/terms/\" version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"
      xmlns:openSearch=\"http://a9.com/-/spec/opensearchrss/1.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
      xmlns:dcmitype=\"http://purl.org/dc/dcmitype/\">\n  <channel>\n    <title>iss-ndl-opac
      library system - 国立国会図書館サーチ OpenSearch</title>\n    <link>iss.ndl.go.jp</link>\n
      \   <description>Search results for any=library system cnt=10 dpid=iss-ndl-opac
      </description>\n    <language>ja</language>\n    <openSearch:totalResults>5159</openSearch:totalResults>\n
      \   <openSearch:startIndex>1</openSearch:startIndex>\n    <openSearch:itemsPerPage>10</openSearch:itemsPerPage>\n
      \   <item>\n      <title>Master plan report of electric distribution system
      in Bangkok (1982-2001) : long range plan</title>\n      <link>http://iss.ndl.go.jp/books/R100000002-I000002040989-00</link>\n<description>\n<![CDATA[<p>Japan
      International Cooperation Agency</p>\n<ul><li>タイトル： Master plan report of electric
      distribution system in Bangkok (1982-2001) : long range plan</li>\n</ul>]]>\n</description>\n
      \     <category>本・雑誌</category>\n      <guid isPermaLink=\"true\">http://iss.ndl.go.jp/books/R100000002-I000002040989-00</guid>\n
      \     <pubDate>Fri, 22 Oct 2004 09:00:00 +0900</pubDate>\n      <dc:title>Master
      plan report of electric distribution system in Bangkok (1982-2001) : long range
      plan</dc:title>\n      <dc:publisher>Japan International Cooperation Agency</dc:publisher>\n
      \     <dcterms:issued xsi:type=\"dcterms:W3CDTF\">1982</dcterms:issued>\n      <dc:identifier
      xsi:type=\"dcndl:JPNO\">90034936</dc:identifier>\n      <dc:subject xsi:type=\"dcndl:NDLC\">DL177</dc:subject>\n
      \     <dcterms:description>At head of title: Kingdom of Thailand.Library's copy
      has binding error.\"MPN CR (3) 82-121 (2/3) .\"</dcterms:description>\n    </item>\n
      \   <item>\n      <title>System7コレクション : 心携ユーティリティからナンセンスまで… 漢字Talk対応プログラム41</title>\n
      \     <link>http://iss.ndl.go.jp/books/R100000002-I000002222623-00</link>\n<description>\n<![CDATA[<p>翔泳社,488135020X</p>\n<ul><li>タイトル：
      System7コレクション : 心携ユーティリティからナンセンスまで… 漢字Talk対応プログラム41</li>\n<li>タイトル（読み）： システム
      セブン コレクション</li>\n<li>責任表示： SE編集部 編,</li>\n<li>シリーズ名： Macの宝箱. Macintosh software
      library ; 3</li>\n</ul>]]>\n</description>\n      <author>SE編集部 編,</author>\n
      \     <category>本・雑誌</category>\n      <guid isPermaLink=\"true\">http://iss.ndl.go.jp/books/R100000002-I000002222623-00</guid>\n
      \     <pubDate>Mon, 21 Apr 2003 09:00:00 +0900</pubDate>\n      <dc:title>System7コレクション
      : 心携ユーティリティからナンセンスまで… 漢字Talk対応プログラム41</dc:title>\n      <dcndl:titleTranscription>システム
      セブン コレクション</dcndl:titleTranscription>\n      <dc:creator>SE編集部 編</dc:creator>\n
      \     <dcndl:seriesTitle>Macの宝箱. Macintosh software library ; 3</dcndl:seriesTitle>\n
      \     <dc:publisher>翔泳社</dc:publisher>\n      <dcterms:issued xsi:type=\"dcterms:W3CDTF\">1992</dcterms:issued>\n
      \     <dc:identifier xsi:type=\"dcndl:ISBN\">488135020X</dc:identifier>\n      <dc:identifier
      xsi:type=\"dcndl:JPNO\">93015695</dc:identifier>\n      <dc:subject>プログラミング
      (コンピュータ)</dc:subject>\n      <dc:subject xsi:type=\"dcndl:NDLC\">M159</dc:subject>\n
      \     <dc:subject xsi:type=\"dcndl:NDC8\">007.63</dc:subject>\n      <dcterms:description>付属資料
      (フロッピーディスク2枚 3.5インチ2HD ホルダー入)</dcterms:description>\n      <dcterms:description>外箱入</dcterms:description>\n
      \   </item>\n    <item>\n      <t[...]
