---
http_interactions:
- request:
    method: get
    uri: http://api.porta.ndl.go.jp:80/servicedp/opensearch?dpid=zomoku&any=library&cnt=10&idx=1
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=utf-8
    body: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n<rss
      version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\"\r\n    xmlns:openSearch=\"http://a9.com/-/spec/opensearchrss/1.0/\"\r\n
      \   xmlns:dcndl=\"http://ndl.go.jp/dcndl/terms/\" \r\n    xmlns:dcndl_porta=\"http://ndl.go.jp/dcndl/dcndl_porta/\"\r\n
      \   xmlns:dcmitype=\"http://purl.org/dc/dcmitype/\" \r\n    xmlns:dcterms=\"http://purl.org/dc/terms/\"
      \r\n    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" \r\n    xsi:schemaLocation=\"http://ndl.go.jp/dcndl/dcndl_porta/
      http://porta.ndl.go.jp/schema/dcndl_porta.xsd\"\r\n    >\r\n    \r\n    \r\n
      \   \r\n    \r\n    \r\n\t\t\r\n\t\t\r\n\t\t<channel>\r\n\t    \t<title>\r\n\t
      \   \t\t\r\n\t    \t\t\r\n\t    \t\tPORTA - Search： &quot;dpid=zomoku any=library
      cnt=10 idx=1&quot;\r\n\t    \t</title>\r\n\t    \t<link>\r\n\t    \t\thttp://porta.ndl.go.jp/\r\n\t
      \   \t</link>\r\n\t    \t<description>\r\n\t    \t\tSearch results for &quot;dpid=zomoku
      any=library cnt=10 idx=1&quot;\r\n\t    \t\t\r\n\t    \t</description>\r\n\t
      \   \t\r\n\t    \t<language>ja</language>\r\n\t    \t\r\n\t    \t<openSearch:totalResults>\r\n\t
      \   \t\t10124\r\n\t    \t</openSearch:totalResults>\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t\r\n\t\t\t<openSearch:startIndex>\r\n\t\t\t\t1\r\n\t\t\t</openSearch:startIndex>\r\n\t\t\t\r\n\t\t\t\r\n\t
      \   \t<openSearch:itemsPerPage>\r\n\t    \t\t10\r\n\t    \t</openSearch:itemsPerPage>\r\n\t
      \   \t\r\n\t    \t\r\n\t   \t\t\r\n\t   \t\t<item>\n<title>あゝ無情</title>\n<author>Ｖｉｃｔｏｒ　Ｈｕｇｏ‖［著］</author>\n<author>坂本和男‖訳註</author>\n<link>http://api.porta.ndl.go.jp/ndlopac/cgi-bin/ndlopac/ndl-book?kywd=21081769</link>\n
      \ <description>出版地 : 東京;形態 : １７１ｐ ; １９ｃｍ;シリーズ : Ｎａｎ’ｕｎ−ｄｏ’ｓ　ｐｈｏｅｎｉｘ　ｌｉｂｒａｒｙ;シリーズよみ
      : Ｎａｎ’ｕｎ−ｄｏ’ｓ　ｐｈｏｅｎｉｘ　ｌｉｂｒａｒｙ</description>\n<dcndl:titleTranscription>アア　ムジョウ</dcndl:titleTranscription>\n<dc:creator>Ｖｉｃｔｏｒ　Ｈｕｇｏ‖［著］</dc:creator>\n<dc:creator>坂本和男‖訳註</dc:creator>\n<dc:creator
      xsi:type=\"dcndl:NDLNH\">Ｈｕｇｏ，Ｖｉｃｔｏｒ　Ｍａｒｉｅ（１８０２−１８８５）</dc:creator>\n<dc:subject
      xsi:type=\"dcndl:NDLC\">Ｙ４５</dc:subject>\n<dc:publisher>南雲堂</dc:publisher>\n<dcterms:issued>１９６０．３</dcterms:issued>\n<dcterms:issued
      xsi:type=\"dcterms:W3CDTF\">1960</dcterms:issued>\n<dc:identifier xsi:type=\"dcterms:URI\">http://api.porta.ndl.go.jp/ndlopac/cgi-bin/ndlopac/ndl-book?kywd=21081769</dc:identifier>\n<dc:identifier
      xsi:type=\"dcndl:JPNO\">21081769</dc:identifier>\n<dc:identifier xsi:type=\"dcndl_porta:NDLCN\">Ｙ４５−Ｈ１７０６</dc:identifier>\n<dc:language
      xsi:type=\"dcterms:ISO639-2\">JPN</dc:language>\n<dc:type xsi:type=\"dcndl_porta:PORTAType\">Text</dc:type>\n<dc:type
      xsi:type=\"dcndl_porta:Digitalize\">4</dc:type>\n<dc:type xsi:type=\"dcndl_porta:Web-get\">4</dc:type>\n<dc:type
      xsi:type=\"dcndl_porta:Payment\">4</dc:type>\n\n  <dcndl_porta:dpid>zomoku</dcndl_porta:dpid>\n
      \ <dcndl_porta:repository_no>R000000001</dcndl_porta:repository_no>\n  <dcndl_porta:item_no>I004614645</dcndl_porta:item_no></item>\n<item>\n<title>ＩＳＤＮをとことん使いこなす
      : インターネットも「超」快適　上手な切り換え方からビジネス活用まで</title>\n<author>ユニゾン‖編</author>\n<link>http://api.porta.ndl.go.jp/ndlopac/cgi-bin/ndlopac/ndl-book?kywd=97015582</link>\n
      \ <description>出版地 : 東京;形態 : １９８ｐ ; １８ｃｍ;シリーズ : ＰＨＰ　ｂｕｓｉｎｅｓｓ　ｌｉｂｒａｒｙ. ｂｕｓｉｎｅｓｓ;シリーズよみ
      : ＰＨＰ　ｂｕｓｉｎｅｓｓ　ｌｉｂｒａｒｙ;シリーズよみ : ｂｕｓｉｎｅｓｓ;税込価格 : ８５０円</description>\n<dcndl:titleTranscription>アイエスディーエヌ　オ　トコトン　ツカイコナス</dcndl:titleTranscription>\n<dc:creator>ユニゾン‖編</dc:creator>\n<dc:creator
      xsi:type=\"dcndl:NDLNH\">ユニゾン</dc:creator>\n<dcndl:creatorTranscription xsi:type=\"dcndl:NDLNH\">ユニゾン</dcndl:creatorTranscription>\n<dc:subject
      xsi:type=\"dcndl:NDLSH\">データ伝送</dc:subject>\n<dc:subject xsi:type=\"dcndl:NDLSH\">通信網</dc:subject>\n<dc:subject
      xsi:type=\"dcndl:NDC\">５４７．４８３３</dc:subject>\n<dc:subject xsi:type=\"dcndl:NDLC\">ＮＤ６３３</dc:subject>\n<dcndl:subjectTranscription
      xsi:type=\"dcndl:NDLSH\">データデンソウ</dcndl:subjectTranscription>\n<dcndl:subjectTranscription
      xsi:type=\"dcndl:NDLSH\">ツウシンモウ</dcndl:subjectTranscription>\n<dc:publisher>ＰＨＰ研究所</dc:publisher>\n<dcterms:issued>１９９６．８</dcterms:issued>\n<dcterms:issued
      xsi:type=\"dcterms:W3CDTF\">1996</dcterms:issued>\n<dc:identifier xsi:type=\"dcterms:URI\">http://api.porta.ndl.go.jp/ndlopac/cgi-bin/ndlopac/ndl-book?kywd=97015582</dc:identifier>\n<dc:identifier
      xsi:type=\"dcndl:ISBN\">4-569-55268-4</dc:identifier>\n<dc:identifier xsi:type=\"dcndl:JPNO\">97015582</dc:identifier>\n<dc:identifier
      xsi:type=\"dcndl_porta:NDLCN\">ＮＤ６３３−Ｇ２７４</dc:identifier>\n<dc:language xsi:type=\"dcterms:ISO639-2\">JPN</dc:language>\n<dc:identifier
      xsi:type=\"dcndl_porta:ISBN13\">978-4-569-55268-2</dc:identifier>\n<dc:type
      xsi:type=\"dcndl_porta:PORTAType\">Text</dc:type>\n<dc:type xsi:type=\"dcndl_porta:Digitalize\">4</dc:type>\n<dc:type
      xsi:type=\"dcndl_porta:Web-get\">4</dc:type>\n<dc:type xsi:type=\"dcndl_porta:Payment\">4</dc:type>\n\n
      \ <dcndl_porta:dpid>zomoku</dcndl_porta:dpid>\n  <dcndl_porta:repository_no>R000000001</dcndl_porta:repository_no>[...]
